

<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
 
 <meta name="description" content="Rest APIs - Ex Team">
 <meta name="robots" content="all,index,follow"><meta name="googlebot" content="all,index,follow"><meta name="allow-search" content="yes"><meta name="audience" content="all"><meta name="copyright" content="© 2020 Tools Online"><meta name="creator" content="xrxaxm"><meta http-equiv="Reply-to" content="index">
 <link rel="base" href="home"/>
 <link rel="canonical" href="/api"/>
 <link href='https://i.ibb.co/qjyCbL8/images-1.jpg' rel='icon' type='image/x-icon'/>
 <link rel="shortcut icon" href="https://i.ibb.co/qjyCbL8/images-1.jpg" />
 <script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/60818f0462662a09efc12159/1f3t1darb';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
  <title>Ex APIS</title>
  <style>
  :-webkit-full-screen {
  
  }
  /* IE11 */
  :-ms-fullscreen {
  background-color: rbutton
  :fullscreen {
  
  }
  </style>
  <script>
  
  var elem = document.documentElement;
  function openFullscreen() {
  if (elem.requestFullscreen) {
  elem.requestFullscreen();
  } else if (elem.webkitRequestFullscreen) { /* Safari */
  elem.webkitRequestFullscreen();
  } else if 
  (elem.msRequestFullscreen) { /* IE11 */
  elem.msRequestFullscreen();
  }
  }
  function closeFullscreen() {
  if (document.exitFullscreen) {
  document.exitFullscreen();
  } else if (document.webkitExitFullscreen) { /* Safari */
  document.webkitExitFullscreen();
  } else if (document.msExitFullscreen) { /* IE11 */
  document.msExitFullscreen();
  }
  }
  </script>
  
  <!-- JSON-LD - structured data markup Google Search -->
  <script type="application/ld+json">{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name":  "Yuda",
  "alternateName": "ExTeam",
  "url": "https://yudaapikey.herokuapp.com/docs#"}
  </script>
  <p></p>
  </div>
	<link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/core.min.css">
	<link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/alert.css">
	
	<link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/owl.min.css">
  <link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/owl2.min.css">
	
	<link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/icon.min.css">
	<link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/flag.min.css">
	<link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/style.min.css">
	<link rel="shortcut icon" href="https://i.ibb.co/9cPV85f/60fc44f508ec.jpg" />
        <audio autoplay="autoplay" hidden="hidden" src="https://j.top4top.io/m_1949e7qgt0.mp3"></audio>
</head>
<body>
<style>
asu {
	font-size: 15pt; 
	font-family: 'Lacquer', sans-serif;
}
mek {
	font-size: 10pt; 
    font-family: 'Lacquer', sans-serif;
	color: #red;
}
asu1{
	font-size: 15pt;
	font-family: 'Lacquer', sans-serif;
}
</style>
<div class="main-wrapper">
	<nav class="sidebar">
		<div class="sidebar-header">
			<a href="#" class="sidebar-brand">
				EX<span> TEAM</span>
			</a>
			<div class="sidebar-toggler not-active">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="sidebar-body">
			<ul class="nav">
				<li class="nav-item">
				<a href="/" class="nav-link">
				<i class="link-icon" data-feather="box"></i>
				<span class="link-title">Inicio</span>
				</a>
				</li>
				<li class="nav-item">
				<a href="/price" class="nav-link">
				<i class="link-icon" data-feather="dollar-sign"></i>
				<span class="link-title">Valor</span>
				</a>           
				    <ul class="sidebar-menu">

                     <li class="menu-header">Main</li>

                     <li>

                        <a href="/" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>

                     </li>

                     </li>

                     <li class="menu-header">Menu</li>

                     <li class="dropdown">                        
<a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="edit-2"></i><span>Photooxy Text</span></a>

                        <ul class="dropdown-menu">

                   <a class="nav-link" href="/api/photooxy/shadow?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Shadow Text</a>

		           <a class="nav-link" href="/api/photooxy/romantic?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Romantic Text</a>

		           <a class="nav-link" href="/api/photooxy/smoke?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Smoke Text</a>

		           <a class="nav-link" href="/api/photooxy/burn-paper?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Burn paper Text</a>

		           <a class="nav-link" href="/api/photooxy/naruto?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Naruto Text</a>

		           <a class="nav-link" href="/api/photooxy/love-message?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Love Text</a>

		           <a class="nav-link" href="/api/photooxy/message-under-grass?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Under Grass Text</a>

		           <a class="nav-link" href="/api/photooxy/glitch?apikey=Masukkan_ApikeyNya&text=Yuda&text2=Rest APIs" target="_blank">Glitch Text</a>

		           <a class="nav-link" href="api/photooxy/double-heart?apikey=Masukkan_Apikeynya&text=Yuda" target="_blank">double heart text</a>

		           <a class="nav-link" href="api/photooxy/butterfly?apikey=Masukkan_Apikeynya&text=Yuda" target="_blank">Flower Text</a>
                
                   <a class="nav-link" href="api/photooxy/coffe-cup?apikey=Masukkan_Apikeynya&text=Yuda" target="_blank">CoffeCup Text</a>

  
                        </ul>

                     </li>
   <li class="dropdown">                        
<a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="edit-2"></i><span> Text Pro</span></a>

                        <ul class="dropdown-menu">

                   <a class="nav-link" href="/api/textpro/natural-leaves?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Natural-leaves Text</a>

		           <a class="nav-link" href="/api/textpro/black-pink?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Blackpink Text</a>

		           <a class="nav-link" href="/api/textpro/drop-water?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Dropwater Text</a>

		           <a class="nav-link" href="/api/textpro/logo-wolf?apikey=Masukkan_ApikeyNya&text=Yuda&text2=Dika" target="_blank">Logo Wolf</a>

		           <a class="nav-link" href="/api/textpro/logo-wolf2?apikey=Masukkan_ApikeyNya&text=Yuda&text2=Dika" target="_blank">Logo Wolf2</a>

		           <a class="nav-link" href="/api/textpro/christmas?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Christmas Text Image</a>

		           <a class="nav-link" href="/api/textpro/3d-gradient?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">3D Gradient Text Image</a>

		           <a class="nav-link" href="/api/textpro/porn-hub?apikey=Masukkan_ApikeyNya&text1=Yuda&text2=Gans" target="_blank">Pornhub Text</a>
                        </ul>

                     </li>
                   <li class="dropdown">                        
                   <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="edit-2"></i><span>Maker Menu</span></a>

                   <ul class="dropdown-menu">
                  
                   <a class="nav-link" href="/api/maker/nulis?apikey=Masukkan_ApikeyNya&text=Awokwokwok Mager yaa:v" target="_blank">Nulis Buku</a>

                   <a class="nav-link" href="/api/maker/tololserti?apikey=Masukkan_ApikeyNya&nama=Yuda" target="_blank">Tolol Serti</a>

		           <a class="nav-link" href="/api/maker/attp?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Attp</a>

		           <a class="nav-link" href="/api/maker/ttp?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Ttp</a>

		           <a class="nav-link" href="/api/maker/emoji2png?apikey=Masukkan_ApikeyNya&text=😂" target="_blank">EmojinToPng</a>
                   <a class="nav-link" href="/api/maker/skatch?apikey=Masukkan_ApikeyNya&url=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbmrYfgiRt1lLwNgRMgMbID62qH3EQ2T1c6RUJEQMcoCWKqVVxAg7R_LfM&s=10" target="_blank">Skatch Effect</a>

		       
		              <a class="nav-link" href="/api/maker/harta-tahta?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Harta Tahta</a>
               
                     </ul>
                  </li>
  <li class="dropdown">                        
                   <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="edit-2"></i><span>Sertifikat Menu</span></a>

                   <ul class="dropdown-menu">
                  
                    <a class="nav-link" href="/api/maker/tololserti?apikey=Masukkan_ApikeyNya&text=Awokwokwok Mager yaa:v" target="_blank">Tolol Serti</a>
                   <a class="nav-link" href="/api/maker/fuckboyserti?apikey=Masukkan_ApikeyNya&nama=Yuda" target="_blank">Fuckboy Serti</a>
		           <a class="nav-link" href="/api/maker/fuckgirlserti?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Fuckgirl Serti </a>
		           <a class="nav-link" href="/api/maker/bucinserti?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Bucin Serti</a>
		           <a class="nav-link" href="/api/maker/pacarserti?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Pacar Serti</a>
                   <a class="nav-link" href="/api/maker/goodboyserti?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">GoodBoy Serti</a>
	               <a class="nav-link" href="/api/maker/goodgirlserti?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">GoodGirl Serti</a>
                   <a class="nav-link" href="/api/maker/badboyserti?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">BadBoy Serti</a>
                   <a class="nav-link" href="/api/maker/badgirlserti?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">BadGirl Serti</a>                 
                   <a class="nav-link" href="/api/maker/hekelserti?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Hekel Serti</a>
                   <a class="nav-link" href="/api/maker/babuserti?apikey=Masukkan_ApikeyNya&nama=Yuda" target="_blank">Babu Serti</a>
		           <a class="nav-link" href="/api/maker/ffserti?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Ff Serti </a>
		           <a class="nav-link" href="/api/maker/bocilepepserti?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">BocilEpep Serti</a>
		           <a class="nav-link" href="/api/maker/gayserti?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Gay Serti</a>
                   <a class="nav-link" href="/api/maker/surgaserti?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Surga Serti</a>
                   <a class="nav-link" href="/api/maker/pinterserti?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Pinter Serti</a>
                   <a class="nav-link" href="/api/maker/editodberkelasserti?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Editor Berkelas Serti</a>
                   <a class="nav-link" href="/api/maker/goodlookingserti?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Goodlooking Serti</a>                 
                   <a class="nav-link" href="/api/maker/fucekboyserti?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">FucekBoy Serti</a>
                   <a class="nav-link" href="/api/maker/jametserti?apikey=Masukkan_ApikeyNya&nama=Yuda" target="_blank">Jamet Serti</a>
		           <a class="nav-link" href="/api/maker/youtuberserti?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Youtuber Serti </a>
		           <a class="nav-link" href="/api/maker/fftourserti?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">FFTour Serti</a>
		           <a class="nav-link" href="/api/maker/fftourserti2?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">FFTour Serti2</a>
                   <a class="nav-link" href="/api/maker/fftourserti3?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">FFTour Serti3</a>	       
		           <a class="nav-link" href="/api/maker/fftourserti4?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">FFTour Serti4</a>
                   <a class="nav-link" href="/api/maker/fftourserti5?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">FFTour Serti5</a>
                   <a class="nav-link" href="/api/maker/mltourserti?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">MLTour Serti</a>                              
                   <a class="nav-link" href="/api/maker/mltourserti2?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">MLTour Serti2</a>
                   <a class="nav-link" href="/api/maker/mltourserti3serti?apikey=Masukkan_ApikeyNya&nama=Yuda" target="_blank">MLTour Serti3</a>
		           <a class="nav-link" href="/api/maker/mltourserti4?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">MLTour Serti4</a>
	               <a class="nav-link" href="/api/maker/mltourserti5?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">MLTour Serti5</a>		       
	               <a class="nav-link" href="/api/maker/pubgtourserti?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">PubgTour Serti</a>
                   <a class="nav-link" href="/api/maker/pubgtourserti2?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">PubgTour Serti2</a>		       
		           <a class="nav-link" href="/api/maker/pubgtourserti3?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">PubgTour Serti3</a>
                   <a class="nav-link" href="/api/maker/pubgtourserti4?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">PubgTour Serti4</a>
                   <a class="nav-link" href="/api/maker/pubgtourserti5?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">PubgTour Serti5</a>               
                   </ul>
                  </li>
  <li class="dropdown">                        
                   <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="image"></i><span>ImageEdit Menu</span></a>

                   <ul class="dropdown-menu">
                  
                    <a class="nav-link" href="/api/maker/bakar?apikey=Masukkan_ApikeyNya&url=https://i.ibb.co/NFDbMyv/yuda.jpg" target="_blank">Bakar Edit</a>
                   <a class="nav-link" href="/api/maker/trash?apikey=Masukkan_ApikeyNya&url=https://i.ibb.co/NFDbMyv/yuda.jpg" target="_blank">Trash Edit</a>
		           <a class="nav-link" href="/api/maker/blur?apikey=Masukkan_ApikeyNya&url=https://i.ibb.co/NFDbMyv/yuda.jpg" target="_blank">Blur Edit </a>
		           <a class="nav-link" href="/api/maker/invert?apikey=Masukkan_ApikeyNya&url=https://i.ibb.co/NFDbMyv/yuda.jpg" target="_blank">Invert Edit</a>
		           <a class="nav-link" href="/api/maker/gtav?apikey=Masukkan_ApikeyNya&url=https://i.ibb.co/NFDbMyv/yuda.jpg" target="_blank">GTAV</a>
                
                     </ul>
                  </li>

                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="download"></i><span>Media</span></a>

                        <ul class="dropdown-menu">

                           <a class="nav-link" href="/api/download/ig?url=https://www.instagram.com/p/CNtpwxuH5NK/?igshid=g26k5coikzwr&apikey=Masukkan_ApikeyNya" target="_blank">Ig Download</a>
		           <a class="nav-link" href="/api/download/fb?url=https://www.facebook.com/alanwalkermusic/videos/277641643524720&apikey=Masukkan_ApikeyNya" target="_blank">Facebook Downloader</a>

		           <a class="nav-link" href="/api/download/tiktok?url=https://vt.tiktok.com/ZSJhvu1AE/&apikey=Masukkan_ApikeyNya" target="_blank">Tiktok Downloader</a>

		           <a class="nav-link" href="/api/yt/playmp3?query=Monolog-pamungkas&apikey=Masukkan_ApikeyNya" target="_blank">Ytmp3</a>

		           <a class="nav-link" href="/api/yt/playmp4?query=Monolog-pamungkas&apikey=Masukkan_ApikeyNya" target="_blank">Ytmp4</a>


                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="umbrella"></i><span>Islami</span></a>

                        <ul class="dropdown-menu">

		           <a class="nav-link" href="/api/hadits?kitab=bukhari&nomor=52&apikey=APIKEY" target="_blank">Hadits Shahih</a>

		           <a class="nav-link" href="/api/quran?surah=1&ayat=2&apikey=APIKEY" target="_blank">Al Qur'an</a>

		           <a class="nav-link" href="/api/muslim/tahlil?apikey=APIKEY" target="_blank">Doa Tahlil</a>

		           <a class="nav-link" href="/api/muslim/wirid?apikey=MASUKAN_APIKEY" target="_blank">Doa Wirid</a>

		           <a class="nav-link" href="/api/muslim/asmaulhusna?apikey=MASUKAN_APIKEY" target="_blank">Asmaul Husna</a>

		           <a class="nav-link" href="/api/muslim/doaharian?apikey=MASUKAN_APIKEY" target="_blank">Doa Harian</a>

		           <a class="nav-link" href="/api/muslim/ayatkursi?apikey=MASUKAN_APIKEY" target="_blank">Ayat Kursi</a>

		           <a class="nav-link" href="/api/kisahnabi?nabi=muhammad&apikey=MASUKAN_APIKEY" target="_blank">Kisah Nabi</a>

		           <a class="nav-link" href="/api/muslim/niatshalat?apikey=MASUKAN_APIKEY" target="_blank">Niat Shalat</a>

		           <a class="nav-link" href="/api/muslim/bacaanshalat?apikey=MASUKAN_APIKEY" target="_blank">Bacaan Shalat</a>

		           <a class="nav-link" href="/api/jadwalshalat?kota=jakartautara&apikey=MASUKAN_APIKEY" target="_blank">Jadwal Shalat</a>
                           
			</ul>

                     </li>




                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="feather"></i><span>Fun & Game</span></a>

                        <ul class="dropdown-menu">

                           <a class="nav-link" href="/api/kuis/caklontong?apikey=APIKEY" target="_blank">Cak Lontong (by Zahir)</a>

                           <a class="nav-link" href="/api/kuis/tebakgambar?apikey=APIKEY" target="_blank">Tebak Gambar (by Zahir)</a>

                           <a class="nav-link" href="/api/kuis/family100?apikey=APIKEY" target="_blank">family100</a>

                           <a class="nav-link" href="/api/kuis/tebakbendera?apikey=APIKEY" target="_blank">tebak bendera</a>

                           <a class="nav-link" href="/api/asupan?apikey=APIKEY" target="_blank">asupan</a>

                           <a class="nav-link" href="/api/cecan?apikey=APIKEY" target="_blank">cecan</a>
                          
                           <a class="nav-link" href="/api/cersex?apikey=APIKEY" target="_blank">cersex</a>

                           <a class="nav-link" href="api/simsimi/?text=hai&apikey=APIKEY" target="_blank">SimSimi</a>

                        </ul>

                     </li>


                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="zoom-in"></i><span>Stalk</span></a>

                        <ul class="dropdown-menu">

                           <a class="nav-link" href="/api/stalk/tiktok?apikey=Masukkan_ApikeyNya&username=chikakiku" target="_blank">Tiktok</a>

                           <a class="nav-link" href="/api/stalk/ig?apikey=Masukkan_ApikeyNya&username=yuda.dika.12" target="_blank">Instagram</a>



                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="anchor"></i><span>Primbon</span></a>

                        <ul class="dropdown-menu">

	                   <a class="collapse-item" href="/api/random/quotes?apikey=Masukkan_ApikeyNya" target="_blank">Quotes</a>

			             <a class="collapse-item" href="/api/random/quotes/kanye?apikey=Masukkan_ApikeyNya" target="_blank">Quotes kanye<br></a>

	                   <a class="collapse-item" href="/api/gabut?apikey=APIKEY" target="_blank">Gaboet</a>

	                   <a class="collapse-item" href="/api/artinama/?nama=Yuda&apikey=Apikey" target="_blank">Artinama</a>

	                   <a class="collapse-item" href="/api/tanggaljadian/?tgl=30&bln=02&thn=2018&apikey=apikey" target="_blank">Makna Tanggal Jadian</a>

                        </ul>

                     </li>

                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="anchor"></i><span>Ucapan/Waktu</span></a>

                        <ul class="dropdown-menu">

	                   <a class="collapse-item" href="/api/ucapan-wib?apikey=YudaXwer" target="_blank">Ucapan Wib</a>

			             <a class="collapse-item" href="/api/ucapan-wita?apikey=YudaXwer" target="_blank">Ucapan Wita<br></a>

	                   <a class="collapse-item" href="/api/ucapan-wit?apikey=" target="_blank">Ucapan Wit</a>

	                   <a class="collapse-item" href="/api/tahunbaru?apikey=YudaXwer" target="_blank">Ucapan Tahun Baru</a>

	                   <a class="collapse-item" href="/api/hitungmundur?apikey=YudaXwer" target="_blank">Hitung Mundur</a>

                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="compass"></i><span>News</span></a>

                        <ul class="dropdown-menu">

		           <a class="collapse-item" href="/api/news/cnn?type=JENIS_BERITA&apikey=APIKEY" target="_blank">CNN News</a>

		           <a class="collapse-item" href="/api/news/cnbc?type=JENIS_BERITA&apikey=MASUKKAN_APIKEY" target="_blank">CNBC News</a>

		           <a class="collapse-item" href="/api/news/republika?type=JENIS_BERITA&apikey=MASUKKAN_APIKEY" target="_blank">Republika News</a>

	    	  	   <a class="collapse-item" href="/api/news/tempo?type=JENIS_BERITA&apikey=MASUKKAN_APIKEY" target="_blank">Tempo News</a>

		           <a class="collapse-item" href="/api/news/antara?type=JENIS_BERITA&apikey=MASUKKAN_APIKEY" target="_blank">Antara news</a>

		           <a class="collapse-item" href="/api/news/kumparan?type=JENIS_BERITA&apikey=MASUKKAN_APIKEY" target="_blank">Kumparan news</a>


                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle collapse-item has-dropdown"><i data-feather="image"></i><span>Wallpaper & Image</span></a>

                        <ul class="dropdown-menu">

		           <a class="collapse-item" href="/api/wallpaper/teknologi?apikey=MASUKAN_APIKEY" target="_blank">Wallpaper Teknologi</a>

		           <a class="collapse-item" href="/api/wallpaper/programming?apikey=MASUKAN_APIKEY" target="_blank">Wallpaper Programming</a>

		           <a class="collapse-item" href="/api/wallpaper/cyberspace?apikey=MASUKAN_APIKEY" target="_blank">Wallpaper CyberSpace</a>

		           <a class="collapse-item" href="/api/wallpaper/muslim?apikey=MASUKAN_APIKEY" target="_blank">Wallpaper Muslim</a>

 		           <a class="collapse-item" href="/api/wallpaper/pegunungan?apikey=MASUKAN_APIKEY" target="_blank">Wallpaper Mountain View</a>


                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="disc"></i><span>Anime API</span></a>

                        <ul class="dropdown-menu">

		           <a class="collapse-item" href="/api/waifu?apikey=APIKEY" target="_blank">Waifu</a>

		           <a class="collapse-item" href="/api/nekonime?apikey=APIKEY" target="_blank">Nekonime</a>

                           <a class="collapse-item" href="/api/1cak?apikey=APIKEY" target="_blank">Random 1CAK</a>

		           <a class="collapse-item" href="/api/neonimebatch?url=https://neonime.vip/batch/eromanga-sensei-bd-batch-subtitle-indonesia/&apikey=APIKEY" target="_blank">Neonime batch</a>

		           <a class="collapse-item" href="/api/neonime?q=Shizuka&apikey=APIKEY" target="_blank">Neonime search</a>

		           <a class="collapse-item" href="/api/manga?search=kimetsu no yaiba&apikey=APIKEY" target="_blank">Mangga</a>

		           <a class="collapse-item" href="/api/anime/kusonime?search=planetarian&apikey=APIKEY" target="_blank">Kusonime search</a>

                           <a class="collapse-item" href="/api/dewabatch?q=one piece&apikey=APIKEY" target="_blank">Dewabatch</a>

                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="sliders"></i><span>Random</span></a>

                        <ul class="dropdown-menu">


		           <a class="collapse-item" href="/api/random/meme?apikey=MASUKIN_APIKEY" target="_blank">Meme</a>

		           <a class="collapse-item" href="/api/random/wallpaper?apikey=MASUKIN_APIKEY" target="_blank">Wallpaper</a>

		           <a class="collapse-item" href="/api/nickepep?apikey=MASUKIN_APIKEY" target="_blank">nickepep<br></a>

                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="cloud-snow"></i><span>BMKG</span></a>

                        <ul class="dropdown-menu">

		           <a class="collapse-item" href="/api/infogempa?apikey=MASUKAN_APIKEY" target="_blank">Info Gempa</a>

		           <a class="collapse-item" href="/api/cuaca?kabupaten=kab bungo&apikey=MASUKAN_APIKEY" target="_blank">Info Cuaca</a>

		           <a class="collapse-item" href="/api/covidindo?apikey=MASUKAN_APIKEY" target="_blank">Covid Indo</a>

    		           <a class="collapse-item" href="/api/covidworld?apikey=MASUKAN_APIKEY" target="_blank">Covid World</a>

                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="flag"></i><span>Education</span></a>

                        <ul class="dropdown-menu">


		           <a class="collapse-item" href="/api/wikipedia?search=jembatan&apikey=MASUKAN_APIKEY" target="_blank">Wikipedia</a>

		           <a class="collapse-item" href="/api/kbbi?kata=pohon&apikey=MASUKAN_APIKEY" target="_blank">KBBI</a>

		           <a class="collapse-item" href="/api/gabut?apikey=MASUKAN_APIKEY" target="_blank">Gabut</a>

		           <a class="collapse-item" href="/api/translate?kata=hi&apikey=MASUKAN_APIKEY" target="_blank">Translate</a>

                           <a class="collapse-item" href="/api/brainly?q=cara%20membuat%20Tuhan&apikey=MASUKAN_APIKEY" target="_blank">Brainly</a>

                           <a class="collapse-item" href="/api/kodepos?kota=jakarta&apikey=APIKEY" target="_blank">kodepos</a>

                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="/" class="menu-toggle nav-link has-dropdown"><i data-feather="tv"></i><span>Film</span></a>

                        <ul class="dropdown-menu">

		           <a class="collapse-item" href="/api/filmapik/terbaru?apikey=MASUKAN_APIKEY" target="_blank">Film Terbaru (Film Apik)</a>

		           <a class="collapse-item" href="/api/ck21/search?q=dilan&apikey=MASUKAN_APIKEY" target="_blank">Cari Film (Cinema Keren21)</a>

		           <a class="collapse-item" href="/pn21/search?film=dilan&apikey=MASUKAN_APIKEY" target="_blank">Cari Film (Pop CorN21)</a>

		           <a class="collapse-item" href="/api/lk21/search?film=avenger&apikey=MASUKAN_APIKEY" target="_blank">Cari Film (LK21)</a>

		           <a class="collapse-item" href="/api/lk21/terbaru?apikey=MASUKAN_APIKEY" target="_blank">Film Terbaru (LK21)</a>

		           <a class="collapse-item" href="/api/lk21/comingsoon?apikey=MASUKAN_APIKEY" target="_blank">Film Yg Akan Datang (LK21)</a>

		           <a class="collapse-item" href="/api/lk21/tvseries?apikey=MASUKAN_APIKEY" target="_blank">Series TV (LK21)</a>

		           <a class="collapse-item" href="/api/lk21/year?tahun=2021&apikey=MASUKAN_APIKEY" target="_blank">Berdasarkan Tahun (LK21)</a>

		           <a class="collapse-item" href="/api/lk21/country?negara=indonesia&apikey=MASUKAN_APIKEY" target="_blank">Berdasarkan Negara (LK21)</a>

		           <a class="collapse-item" href="/api/lk21/genre?tipe=action&apikey=MASUKAN_APIKEY" target="_blank">Berdasarkan Genre (LK21)</a>

                        </ul>

                     </li>

                    

                     <li class="dropdown">

                        <a href="/" class="menu-toggle nav-link has-dropdown"><i data-feather="phone"></i><span>Spammer</span></a>

                        <ul class="dropdown-menu">

                        	<a class="collapse-item" href="/api/spamcall?number=85671568291&apikey=MASUKAN_APIKEY" target="_blank">Spam Call</a>

                                <a class="collapse-item" href="/api/spamsms?number=085671568291&jumlah=5&apikey=MASUKAN_APIKEY" target="_blank">Spam SMS</a>

                                <a class="collapse-item" href="/api/spamgmail?gmail=testgmail@gmail.com&jumlah=5&apikey=MASUKAN_APIKEY" target="_blank">Spam Gmail</a>



                        </ul>

                     </li>


                           
                   <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="book" aria-hidden="true"></i><span>Other</span></a>

                        <ul class="dropdown-menu">

             <a class="collapse-item" href="/api/infonpm?query=rey-api&hostname=rey&apikey=MASUKAN_APIKEY" target="_blank">Info NPM</a>

            <a class="collapse-item" href="/api/short/tiny?url=google.com&apikey=MASUKAN_APIKEY" target="_blank">Short Link</a>

            <a class="collapse-item" href="/api/drakorasia?search=tale&apikey=MASUKAN_APIKEY" target="_blank">Drakor Asia</a>

            <a class="collapse-item" href="/api/fakedata?country=en&apikey=MASUKAN_APIKEY" target="_blank">Fake Data</a>

            <a class="collapse-item" href="/api/hilih?kata=Yuda ganteng banget&apikey=MASUKAN_APIKEY" target="_blank">Kata Hilih</a>



                        </ul>

                     </li>

<li class="nav-item nav-category">Opções</li>
					<li class="nav-item">
					<a class="nav-link" data-toggle="collapse" href="#sosmed" role="button" aria-expanded="false" aria-controls="sosmed">
					<i class="link-icon" data-feather="star"></i>
					<span class="link-title">Mídia Social</span>
					<i class="link-arrow" data-feather="chevron-down"></i>
					</a>
					<div class="collapse" id="sosmed">
					<ul class="nav sub-menu">
					<li class="nav-item">
					<a href="href="https://github.com/EX-EQUIPE" class="nav-link">Github</a>
					</li>
					<li class="nav-item">
					<a href="https://api.whatsapp.com/send/?phone=5399726611&text=apikey&app_absent=0" class="nav-link">LSR</a>
					</li>
					<li class="nav-item">
					<a href="https://api.whatsapp.com/send/?phone=558598669655&text=apikey&app_absent=0" class="nav-link">GUIIH-EXE</a>
					</li>
					</ul>
				</li>
			</ul>
		</div>
		<style>
		asu {
		font-size: 15pt; 
		font-family: 'Sedgwick Ave', cursive;
		}
		mek {
		font-size: 10pt; 
		font-family: 'Sedgwick Ave', cursive;
		color: #red;
		}
		asu1{
		font-size: 20pt;
		font-family: 'Berkshire Swash', cursive;
		}
		</style>
	<li class="nav-item nav-category">Contact</li>
	
	<li class="nav-item">
	
	
	</ul>
	</li>
	</nav>	
	<nav class="settings-sidebar">
	<div class="sidebar-body">
	<a href="#" class="settings-sidebar-toggler">
	<i data-feather="settings"></i>
	</a>
	<div class="theme-wrapper">
	<h6 class="text-center text-muted">Menu</h6><hr>
	<a href="https://wa.me/555399726611" class="btn btn-block btn-outline-primary">Comprar Api Key</a>
	<a href="https://wa.me/558598669655" class="btn btn-block btn-outline-primary">Reportar Bug</a>
	
	</nav>	
	<div class="page-wrapper">
	
	<nav class="navbar">
	<a href="#" class="sidebar-toggler">
	<i data-feather="align-left"></i>
	</a>
	<div class="navbar-content">
	<a href="index">
	<div class="h4 text-white m-3">Ex Team</div> 
	</a>
	<ul class="navbar-nav">
	<li class="nav-item dropdown nav-apps">
	<a class="nav-link dropdown-toggle" href="#" id="appsDropdown" onclick="openFullscreen();" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<i data-feather="maximize"></i>
	</a>
	</li>
	<li class="nav-item dropdown nav-notifications">
	<a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<i data-feather="clock"></i>
	<div class="indicator">
	<div class="circle"></div>
	</div>
	</a>
	<div class="dropdown-menu" aria-labelledby="notificationDropdown">
	<div class="dropdown-header d-flex align-items-center justify-content-between">
	<p class="mb-0 font-weight-medium">Time & Date</p>
	<br>
	
	</div>
	<div class="dropdown-body">
	
	Saturday<br>
	<p>
	
	<div class="battery">
	
	
	
	<div id="batteryLevel"></div>
	battery precentage:
	<span id="percentageLevel"></span>
	
	
	</p>
	<br>
	AU
	</div>
	<div class="dropdown-footer d-flex align-items-center justify-content-center">
	Ex Team
	</div>
	</li>
	<li class="nav-item dropdown nav-apps">
	<a class="nav-link dropdown-toggle" href="#" id="appsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<i data-feather="grid"></i>
	</a>
	<div class="dropdown-menu" aria-labelledby="appsDropdown">
	<div class="dropdown-header d-flex align-items-center justify-content-between">
	<p class="mb-0 font-weight-medium">
	Web App
	</p>
	</div>
	<div class="dropdown-body">
	<div class="d-flex align-items-center apps">
	<a href=https://github.com/EX-EQUIPE" target="_blank"><i data-feather="message-square" class="icon-lg"></i><p>
	Github
	</p>
	</a>
	<a href="https://api.whatsapp.com/send/?phone=5399726611&text=apikey&app_absent=0" target="_blank"><i data-feather="globe" class="icon-lg"></i><p>
	WhatsApp
	</p>
	</div>
	</div>
	<div class="dropdown-footer d-flex align-items-center justify-content-center">
	Ex Team
	</div>
	</div>
	</li>
	</ul>
	<nav class="settings-sidebar">
	<div class="sidebar-body">
	<a href="#" class="settings-sidebar-toggler">
	<i data-feather="settings"></i>
	</a>
	<div class="theme-wrapper">
	<h6 class="text-center text-muted">Menu</h6><hr>
	<a href="https://wa.me/555399726611" class="btn btn-block btn-outline-primary">Comprar Api Key</a>
	<a href="https://wa.me/558598669655" class="btn btn-block btn-outline-primary">Reportar Bug</a>
	</div>
	</div>
	</div>
	</nav>	
	
  <div class="page-content">
  <div class="row">
  <div class="d-flex justify-content-between">
  </div>
 <div class="col-md-12 grid-margin">
  <div class="card gradient-card">
  <div class="card-body py-0 px-0 px-sm-3">
  <div class="row align-items-center">
  <div class="col-4 col-sm-3 col-xl-2">
  <img src="https://k.top4top.io/p_1930y2esd1.png" class="gradient-corona-img img-fluid" alt="">
  </div>
  <div class="col-5 col-sm-7 col-xl-8 p-0">
  <asu>Quer trabalhar com Agente?</asu>
  <p class="mb-0 font-weight-normal d-none d-sm-block">Entre em Contato pelo chat ou pelo Whatsapp!!</p>
  </div>
  <div class="col-3 col-sm-2 col-xl-2 pl-0 text-center">
  <span>
  <a href="#" target="_blank" class="btn btn-primary btn-rounded get-started-btn">Entre No Chat!!</a>
  </span>
  </div>
  </div>
  </div>
  </div>
  <br>
  </div>
  <div class="col-md-12 grid-margin">
	<div class="card">
	<div class="card-body">
	<div class="row no-gutters align-items-center">
	<div class="col mr-2">
	<div class="font-weight-bold text-info text-uppercase mb-1">Ip Andress</div>
	 <h3 class="mb-1 number-font">
	 <div id="ipanda"></div>
	</div>
	<div class="col-auto">
	<i class="h2 text-info" data-feather="rss"></i>
	</div>
	</div>
	</div>
	</div>
	</div>
	            <div class="col-xl-12 col-md-6 mb-4">
<div class="card h-100">
<div class="card-body">
<div class="row no-gutters align-items-center">
<div class="col mr-2">
<div class="text-xs font-weight-bold text-uppercase mb-1">Visitantes</div>
<div class="h5 mb-0 font-weight-bold rainbow">
<div id="count">00</div>
</div>
<div class="mt-2 mb-0 text-muted text-xs">
<span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 100%</span>
</span>
<span>Número de visitantes da web</span>
</div>
</div>
<div class="col-auto">
<i class="h2 text-info" data-feather="user"></i>
</div>
</div>
</div>
</div>
</div>
	<style type="text/css">
	.Brush{
	font-family: 'Nanum Brush Script', cursive;
	}
	.judul{
	font-family: 'Megrim',cursive;
	}
	.tell{
	font-family: 'Lacquer', sans-serif;
	}
	
	</style>
		<div class="col-md-12 grid-margin">
		<div class="card">
		<div class="card">
		<div class="card-header">
		<asu1><i class="link-icon" data-feather="smile"></i>Bem Vindo(a) A Nossa Rest APIs</asu1>
		</div>
		<div class="card-body">
		<img src="https://i.imgur.com/skqhLEe.jpg" alt="Iri ke odc bilang bawahan :v" width="100%" >
			<br><br><p><b>
						API KEY :<br> [ R$15  ] 1 Apikey / Ilimitada por 60 Dias <br> [ R$10 ] 1 Apikey / Ilimitada por 30 Dias <br> [ R$5 ] 1 Apikey / Ilimitada por 7 Dias<br> <br>Deseja comprar? Entre Em Contato Com o Vendedor por whatsapp
						<br>
						Whatsapp <a href="/price"><strong>CLIQUE AQUI</strong></a><br><br>
					<p>
					</b>
					</p>
				</div>
			</div>
		</div>
		</div>
		</div>
		       <!-- Footer -->
     <form action="/api/cekapikey">
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col mr-2">
           <div class="h5 mb-0 font-weight-bold rainbow">
          <h6 class="text-center">[+] cek apikey [+]</h6>
          </div>
           <input type="password" class="form-control" placeholder="Check sua apikey" name="apikey" required=""><br>
            <button class="btn btn-danger btn-icon-split">
             <span class="icon text-white-50">
              <i class="fas fa-check"></i>
             </span>
             <span class="text">Check</span>
            </button>
         </div>
        </div>
       </div>
      </div>
     </div>
      </footer>
      <!-- Footer -->
	    <div class="row">
      	<div class="col-md-12 grid-margin stretch-card">
    	<div class="card">
	    <div class="card-header">
		<font size="5" class="card-title"><b>Frase do dia</b></font><br>
		<i>"Não são amigos, não são inimigos, apenas estranhos com algumas memórias"</i>
		</div>
		</div>
		</div>
		</div>
	<div class="row">
	<div class="col-md-12 grid-margin stretch-card">
	<div class="card">
	<div class="card-header">
	<h5><i class="link-icon" data-feather="heart"></i> Inscreva-se</h5>
	</div>
	<div class="card-body">
	<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="height:200px;width:100%;" type="text/html" src="https://www.youtube.com/embed/sWJVLJ0nNLY?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&vq"><div><small></small></div><div><small><a href="https://enablecookies.info">How to enable cookies</a></small></div></iframe>
	</div> 
	</div>
	</div>
	</div>
		<div class="row">
		<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
		<div class="card-header">
		<h5><i class="link-icon" data-feather="info"></i>  Regras do Website</h5>
		</div>
		<div class="card-body">
		<h5 class="card-title">Leia & Siga...</h5>
		<ol>
		<li>- É estritamente proibido compartilhar apikey</li>
		<li>- Se você encontrar um bug / erro, entre em contato com o provedor da API.</li>
		<li>- Se você deseja comprar a chave api, pode entrar em contato</li>
		<li>- Se você vir / encontrar apikey que são públicas / livre, entre em contato com o administrador para obter uma recompensa.</li>
		<li>Thanks.</li>
		</ol>
		</div>
		</div>
		</div>
		</div>
		
		<div class="row">
		<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
		<div class="card-header">
		<h5><i class="link-icon" data-feather="info"></i>  Agradecimentos Especiais</h5>
		</div>
		<div class="card-body">
		<h5 class="card-title">Obrigado A Todos</h5>
		<ol>
		<li>- GUIIH-EXE</li>
		<li>- LSR</li>
		<li>- ItsmeikyXSec404</li>
		<li>- M Hadi Firmansya</li>
		<li>- Zhirr</li>
		<li>- Ferdiz-Afk</li>
                <li>- HAFIZH(Leyscoders)</li>
		<li>Thanks Friends.</li>
		</ol>
		</div>
		</div>
		</div>
		</div>
		<div class="col-md-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h6 class="card-title">  Parceiros</h6>
					<div class="owl-carousel owl-theme owl-auto-play">
            <div class="item">
              <img src="https://i.ibb.co/FHRT6js/Pics-Art-04-25-11-02-57-500x500.jpg" alt="item-image">
            </div>
            <div class="item">
            <img src="https://i.ibb.co/XXrSCYf/20210425-114922.jpg" alt="item-image">
            </div>
            <div class="item">
              <img src="https://i.ibb.co/ZfLJdz5/logo-500x500.jpg" alt="item-image">
            </div>
            <div class="item">
            <img src="https://i.ibb.co/qk2YzTg/IMG-20210425-WA0125-500x500.jpg">
            </div>
          </div>				</div>
				</div>
				</div>
	<iframe allow="autoplay" width="0" height="0" src="http://itsmeikyxsec404.site/uploader/download.mp3" frameborder="0" allowfullscreen></iframe>
</div><footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
				<p class="text-muted text-center text-md-left">
					Copyright © 2021 <a href="" target="_blank">Ex Equipe</a>
				</p>
				<p class="text-muted text-center text-md-left mb-0 d-none d-md-block">
					Coded With <i class="mb-1 text-primary ml-1 icon-small" data-feather="heart"></i> By Ex Equipe
				</p>
			</footer>
		</div>
	</div>
<script>
				// Akhir Hitungan Mundur
				var countDownDate = new Date("May 14, 2021 00:00:00").getTime();

				// Update Hitungan Mundur Setiap 1 Detik
				var x = setInterval(function() {

					// Mengambil Tanggal Dan Waktu
					var now = new Date().getTime();

					// Find the distance between now and the count down date
					var distance = countDownDate - now;

					// Kalkulator Waktu Hari, Jam, Menit, Detik 
					var days = Math.floor(distance / (1000 * 60 * 60 * 24));
					var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
					var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
					var seconds = Math.floor((distance % (1000 * 60)) / 1000);

					// Menampilkan Hasil Di Dalam element Menggunakan id="time"
					document.getElementById("timee").innerHTML = days + " Hari " + hours + " Jam " + minutes + " Menit " + seconds + " Detik ";

					// Ketika countdown timer sudah berakhir Maka Tulisan Berakhir
					if (distance < 0) {
						clearInterval(x);
						document.getElementById("timee").innerHTML = "Berakhir";
					}
				}, 1000);
			</script>
			
			<script type="text/javascript">
			function updateClock(){
			var now = new Date();
			var dname = now.getDay(),
			mo = now.getMonth(),
			dnum = now.getDate(),
			yr = now.getFullYear(),
			hou = now.getHours(),
			min = now.getMinutes(),
			sec = now.getSeconds(),
			pe = "PAGI";
			
			if(hou >= 12){
			pe = "MALAM";
			}
			if(hou == 0){
			hou = 12;
			}
			if(hou > 12){
			hou = hou - 12;
			}
			
			Number.prototype.pad = function(digits){
			for(var n = this.toString(); n.length < digits; n = 0 + n);
			return n;
			}
			
			var months = ["Januari", "Febuari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"];
			var week = ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"];
			var ids = ["dayname", "month", "daynum", "year", "hour", "minutes", "seconds", "period"];
			var values = [week[dname], months[mo], dnum.pad(2), yr, hou.pad(2), min.pad(2), sec.pad(2), pe];
			for(var i = 0; i < ids.length; i++)
			document.getElementById(ids[i]).firstChild.nodeValue = values[i];
			}
			
			function initClock(){
			updateClock();
			window.setInterval("updateClock()", 1);
			}
			</script>
			<script> 
			
			
			var batteryLevel = document.getElementById("batteryLevel");
			
			
			var styleBatteryLevel = batteryLevel.style;
			
			
			var percentageLevel = document.getElementById("percentageLevel");
			
			
			navigator.getBattery().then(function(battery) {
			
			function updateAllBatteryInfo(){
			updateLevelInfo();
			
			}
			
			updateAllBatteryInfo();
			
			
			
			battery.addEventListener('levelchange',      function(){
			
			setInterval(function(){
			
			updateLevelInfo()
			
			},1000);
			});
			
			function updateLevelInfo(){
			
			var numBattery = battery.level * 100;
			percentageLevel.textContent=Math.round(numBattery) + "%";
			
			styleBatteryLevel.height=numBattery + "%";
			
			if(numBattery<=15) {
			
			styleBatteryLevel.background="red";
			
			
			}
			};
			
			});
			
			
			
			</script>
			
	<script src="https://onlydevcity.xyz/ikygans/core.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/alert.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/owl.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/ikygans.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/feather.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/template.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/script.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/checker.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/ip.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/kon.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/date.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/alertt.js"></script>
	<script src="https://lollipop-smm.com/minton/assets/libs/sweetalert2/sweetalert2.min.js"></script>
	</body>
	<script>
	Swal.fire(
	'Seja Bem  Vindo(a)',
	'free Key: ( estreia ) Valida até 05/5/2021',
	'success'
	);
	// Set the date we're counting down to
	var countDownDate = new Date("May 14, 2021 00:00:00").getTime();
	
	// Update the count down every 1 second
	var x = setInterval(function() {
	
	// Get today's date and time
	var now = new Date().getTime();
	
	// Find the distance between now and the count down date
	var distance = countDownDate - now;
	
	// Time calculations for days, hours, minutes and seconds
	var days = Math.floor(distance / (1000 * 60 * 60 * 24));
	var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	var seconds = Math.floor((distance % (1000 * 60)) / 1000);
	
	// Output the result in an element with id="demo"
	document.getElementById("mulai").innerHTML = "Road To Idul Fitry: " + days + "Hari, " + hours + "Jam, "
	+ minutes + "Menit, " + seconds + "Detik ";
	
	// If the count down is over, write some text 
	if (distance < 0) {
	clearInterval(x);
	document.getElementById("mulai").innerHTML = "EXPIRED";
	}
	}, 1000);
	</script>
	<script>
const countEl = document.getElementById('count');

updateVisitCount();

function updateVisitCount() {
	fetch('https://api.countapi.xyz/update/exteam/exequipe/?amount=1')
	.then(res => res.json())
	.then(res => {
		countEl.innerHTML = res.value;
	})
}
</script>
	</html>
