
<!DOCTYPE html>
<html lang="en">
<head>
	      <meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1.0">
		  <title>Register Form Yuda</title>
		   <link href="/static/login/style.css" rel="stylesheet">
</head>
<body>
	   <div class="form">
		    <h2>Login</h2>
          <form method="POST" action="/register">
          <div class="form-content">
		  <div class="form-box">
			      <label>Username</label>
			      <input type="text" name="username" placeholder="yudadika@gmail.com">
		</div>
		 <div class="form-box">
			     <label>Password</label>
			      <input type="password1" name="password1" placeholder="Password">
               </div>
		<div class="form-box">
			     <label>Repeat Password</label>
			      <input type="password2" name="password2" placeholder="Repeat Password">	      
		</div>
		 <div class="form-box">
			      <input type="submit" name="submit" value="Register">
        </div>
     </div>
	<p class="form-forget">Already is The Account <a href="/login">Click Here!!</a></p>
     </div>
   </div>
 </div>
<!-- Login Content -->
<script src="/public/vendor/jquery/jquery.min.js"></script>
<script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/public/js/ruang-admin.min.js"></script>

</body>

</html>
		